.button_section{
  width: 100px;
  height: 200px;
  background-color: none;
  display:flex;
  justify-content: center;
  align-items: center;


}

button{
  border-radius: 50%;
  font-size: 24px;
  padding:16px 26px;
  font-family:'Open Sans',sans-serif;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 10px 18px rgba(0,0,0,0.35);
  margin-left: 350px;
  margin-right: 700px;
  background-color: grey;
  opacity: 0.5;
  background-image: image('../img/detektiv.png');
  

}

button:active{
  background-color: lightyellow;
  color:white;

}

button:hover{
  transform: rotateZ();x
}
